<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NOU Chat</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <h1 id="NOUCHAT">NOU Chat ver. 1.1</h1>
    <!-- <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form> -->

    <div class="users-list-container">
      <h3>Users</h3>
      <div id="users_list"></div>
    </div>

    <div class="chat-container" id="scroller">
      <div class="chat-mesages">
        <div id="messages"></div>
      </div>

      <div class="chat-input-container">
        <div class="chat-input">
          <div>
            <textarea
              placeholder="Сообщение..."
              type="text"
              autocomplete="off"
              id="message-input"
              maxlength="512"
            ></textarea>
          </div>
          <div>
            <input type="file" id="uploader" />
            <button type="button" id="clear-btn">Clear</button>
            <button type="button" onclick="send(event)">Send</button>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/main.js"></script>
  </body>
</html>
